<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title><%=config.headline || project.title%></title>

  <meta name="description" content="<%=config.leadin%>" />

  <meta name="author" content="<%=config.credit%>" />

  <%=render('meta_tags.html.ejs', {slug, deploy_url, embed_meta, config, project}) %>

  <%=extra_embed_stylesheet %>

  <style type="text/css">
    body { margin:0; }
    .g-artboard { display:none; }

    <%=extra_embed_css %>
  </style>

  <script defer src="https://pym.nprapps.org/pym.v1.min.js"></script>
  <script>
  (function(){
    var p, t, r = false;
    function u() {
      if (!p) p = new pym.Child();
      document.querySelectorAll('.g-artboard').forEach(function(el) {
        var min = el.getAttribute("data-min-width");
        var max = el.getAttribute("data-max-width");
        var q = [];
        if(min) q.push("(min-width: " + min + "px)");
        if(max) q.push("(max-width: " + max + "px)");

        var img = el.getElementsByTagName('img')[0];
        if(window.matchMedia(q.join(' and ')).matches) {
          el.style.display = 'block';
          img.setAttribute('src', img.getAttribute('data-src'));
        } else {
          el.style.display = 'none';
        }
      })

      if ( !r ) {
        p.sendMessage('childLoaded', 'ready');
        window.parent.postMessage({
          sentinel: 'amp',
          type: 'embed-ready'
        }, '*');

        var m = window.location.search.match(/parentUrl=(https[^&]+)/);
        if ( m && m.length === 2 ) {
          var pu = decodeURIComponent(m[1]);
          var fbt = document.querySelector('meta[property="og:url"]');
          if(fbt && fbt.content) fbt.content = pu;
          var twt = document.querySelector('meta[name="twitter:url"]');
          if(twt && twt.content) twt.content = pu;
          var cn = document.querySelector('link[rel=canonical]');
          if(cn && cn.content) cn.href = pu;
        }
        r = true;
      }

      p.sendHeight();

      window.parent.postMessage({
        sentinel: 'amp',
        type: 'embed-size',
        height: document.body.scrollHeight
      }, '*');
    }
    document.addEventListener("DOMContentLoaded", function() {
      if ( navigator.userAgent.indexOf('iPhone') > 0 ) setTimeout(u, 500);
      else u();
    });
    window.addEventListener("resize", function() {
      if(t) clearTimeout(t);
      t = setTimeout(u, 200);
    });
  })();
  </script>

</head>
<body>
  <%=content%>
</body>
</html>
