<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=config.headline || project.title%></title>

  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta name="description" content="<%=config.leadin%>" />

  <meta property="fb:app_id" content="1477830955774082" />
  <meta property="og:site_name" content="Vox.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%=config.headline || project.title%>" />
  <meta property="og:image" content="<%=deploy_url + fallbacks[0].name %>" />
  <meta property="og:description" content="<%=config.leadin%>" />
  <meta property="og:url" content="" />

  <meta name="author" content="<%=config.credit%>" />

  <meta property="article:publisher" content="https://www.facebook.com/Vox" />

  <meta name="twitter:site" content="@voxdotcom" />
  <meta property="twitter:account_id" content="2347049341" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:src" content="<%=deploy_url + fallbacks[0].name %>" />
  <meta name="twitter:image:width" content="<%=fallbacks[0].width%>" />
  <meta name="twitter:image:height" content="<%=fallbacks[0].height%>" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:title" content="<%=config.headline || project.title%>" />
  <meta name="twitter:description" content="<%=config.leadin%>" />

  <link rel="iframely reader" type="application/javascript"
        id="<%=slug%>__graphic"
        href="<%=deploy_url %>embed.js" title="<%=config.headline || project.title%>" />

  <% for(var i = 0; i < fallbacks.length; i++) { %>
  <link rel="iframely thumbnail" type="<%=fallbacks[i].mime %>"
        href="<%=deploy_url + fallbacks[i].name %>"
        title="<%=config.headline || project.title%>"
        sizes="<%=fallbacks[i].width + 'x' + fallbacks[i].height %>"/>
  <% } %>

  <link rel="alternate" type="application/json+oembed"
    href="<%=deploy_url%>oembed.json"
    title="<%=config.headline || project.title%>" />

  <link rel="canonical" href="" />

  <link rel="shortcut icon" href="https://cdn3.vox-cdn.com/community_logos/52517/voxv.png" />

  <style type="text/css">
    @font-face{
      font-family: "Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-book.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-book.woff2') format('woff2');
      font-weight:400;
      font-style:normal;
    }

    @font-face{
      font-family: "Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bookitalic.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bookitalic.woff2') format('woff2');
      font-weight:400;
      font-style:italic;
    }

    @font-face {
      font-family:"Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-medium.woff') format("woff");
      font-weight:500;
      font-style:normal;
    }

    @font-face {
      font-family:"Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-mediumitalic.woff') format("woff");
      font-weight:500;
      font-style:italic;
     }

    @font-face{
      font-family:"Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bold.woff') format("woff"),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bold.woff2') format("woff2");
      font-weight:700;
      font-style:normal;
    }

    @font-face{
      font-family:"Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bolditalic.woff') format("woff"),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-bolditalic.woff2') format("woff2");
      font-weight:700;
      font-style:italic;
    }

    @font-face{
      font-family:"Balto";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/baltoweb-black.woff') format("woff");
      font-weight:900;
      font-style:normal;
    }

    @font-face {
      font-family: "Harriet";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_text_regular.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_text_regular.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
    }

    @font-face {
      font-family: "Harriet";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_text_regular_italic.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_text_regular_italic.woff2') format('woff2');
      font-weight: 400;
      font-style: italic;
    }

    @font-face {
      font-family: "Harriet";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_text_bold.woff') format('woff');
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: "Harriet Display";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_bold.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_bold.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
    }

    @font-face {
      font-family: "Harriet Display";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_bold_italic.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_bold_italic.woff2') format('woff2');
      font-weight: 700;
      font-style: italic;
    }

    @font-face {
      font-family: "Harriet Display";
      src: url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_black.woff') format('woff'),
           url('https://fonts.voxmedia.com/unison/vox/webfonts/harriet_display_black.woff2') format('woff2');
      font-weight: 900;
      font-style: normal;
    }
    @font-face {
      font-family: 'Nitti';
      src: url('https://fonts.voxmedia.com/editorial-apps/nitti/nittigrotesk-normal-v20.woff') format('woff'),
           url('https://fonts.voxmedia.com/editorial-apps/nitti/nittigrotesk-normal-v20.woff2') format('woff2');
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: 'Nitti';
      src: url('https://fonts.voxmedia.com/editorial-apps/nitti/nittigrotesk-bold-v20.woff') format('woff'),
           url('https://fonts.voxmedia.com/editorial-apps/nitti/nittigrotesk-bold-v20.woff2') format('woff2');
      font-weight: 700;
      font-style: normal;
    }

    body { margin:0; }
    .g-artboard { display:none; }
  </style>

  <script defer src="https://pym.nprapps.org/pym.v1.min.js"></script>
  <script>
  (function(){
    var p, t, r = false;
    function u() {
      if (!p) p = new pym.Child();
      document.querySelectorAll('.g-artboard').forEach(function(el) {
        var min = el.getAttribute("data-min-width");
        var max = el.getAttribute("data-max-width");
        var q = [];
        if(min) q.push("(min-width: " + min + "px)");
        if(max) q.push("(max-width: " + max + "px)");

        var img = el.getElementsByTagName('img')[0];
        if(window.matchMedia(q.join(' and ')).matches) {
          el.style.display = 'block';
          img.setAttribute('src', img.getAttribute('data-src'));
        } else {
          el.style.display = 'none';
        }
      })

      if ( !r ) {
        p.sendMessage('childLoaded', 'ready');
        window.parent.postMessage({
          sentinel: 'amp',
          type: 'embed-ready'
        }, '*');

        var m = window.location.search.match(/parentUrl=(https[^&]+)/);
        if ( m && m.length === 2 ) {
          var pu = decodeURIComponent(m[1]);
          var fbt = document.querySelector('meta[property="og:url"]');
          if(fbt && fbt.content) fbt.content = pu;
          var twt = document.querySelector('meta[name="twitter:url"]');
          if(twt && twt.content) twt.content = pu;
          var cn = document.querySelector('link[rel=canonical]');
          if(cn && cn.content) cn.href = pu;
        }
        r = true;
      }

      p.sendHeight();

      window.parent.postMessage({
        sentinel: 'amp',
        type: 'embed-size',
        height: document.body.scrollHeight
      }, '*');
    }
    document.addEventListener("DOMContentLoaded", function() {
      if ( navigator.userAgent.indexOf('iPhone') > 0 ) setTimeout(u, 500);
      else u();
    });
    window.addEventListener("resize", function() {
      if(t) clearTimeout(t);
      t = setTimeout(u, 200);
    });
  })();
  </script>

</head>
<body>
  <%=content%>
</body>
</html>
