<div data-analytics-viewport="autotune"
     data-analytics-label="<%=slug %>"
     id="<%=slug %>__graphic"
     data-iframe-fallback="<%=fallback_img_url %>"
     data-iframe-fallback-width="<%=fallback_img_width %>"
     data-iframe-fallback-height="<%=fallback_img_height %>"
     data-iframe="<%=deploy_url %>index.html"
     data-iframe-height="<%=height %>"
     <% if ( resizable ) { %>data-iframe-resizable<% } %>></div>
<script type="text/javascript"><%=render('embed.js.ejs', {id: slug+'__graphic', url: deploy_url+'index.html'}) %></script>
